@mixin texto($font-size, $line-height){
    font-size: $font-size;
    line-height: $line-height;
}

p{
    @include texto(2rem, 2.5rem)
}

//maps
$paleta: ('uno': #00d8fb, 
    'dos': rgb(203, 0, 246),
    'tres': rgb(228, 255, 0),
    'cuatro': rgb(255, 250, 240),
    'cinco': rgba(0, 0, 0, 1),
    'seis': rgb(140, 140, 140),
    'siete': rgb(248, 248, 255),
);
//aplicado en _nav.scss