nav {
  background-color: map-get($map:$paleta, $key:'cinco');
  position: sticky;
  top: 0;

  a img {
    width: 20vw;
  }
}

ul li {
  margin: 1.5vw;
}

nav ul a:hover {
  font-weight: 600;
  color: #EAFF00;
}

.textNav {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(255, 250, 240);
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
}

.bgBlackNav {
  position: sticky;
  top: 0;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  nav{
    .li1 {
      margin-left: 55vw;
    }

    a img {
      width: 8vw;
    } 
  }
}
