//imports
@import "_nav";
@import "_var";
@import "_mixins";

body {
  background-image: url(../img/fondo1.jpg);
  font-family: 'Akshar', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

p {
  color: $forthColor;
  font-size: 2rem;
}

/*MOBILE*/
/*INICIO INDEX*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "nav" "head"  "s1"  "s2"  "s3"  "pie";
}

.header {
  grid-area: head;

  img {
    width: 100%;
  }
}

.transform {
  animation-name: h1;
  animation-timing-function: ease-in;
  animation-duration: 6s;
  animation-delay: .5s;
  animation-iteration-count: infinite;
}

@keyframes h1 {
  0% {
    color: $firstColor;
  }

  50% {
    color: $secondColor;
  }

  75% {
    color: $thirdColor;
  }

  100% {
    color: rgb(255, 192, 203);
  }
}

.seccion1 {
  grid-area: s1;

  a {
    text-decoration: none;
  }

  .caja1 {
    .tc1 {
      a:hover {
        font-weight: 1000;
        color: $thirdColor;
      }

      text-align: center;
    }

    .img1 img {
      width: 100%;
    }
  }

  .caja2 {
    .tc2 {
      text-align: center;
    }

    .img2 img {
      width: 100%;
    }
  }

  .caja3 {
    .tc3 {
      text-align: center;
    }

    .img3 img {
      width: 100%;
    }
  }
}

.seccion2 {
  grid-area: s2;

  a {
    text-decoration: none;
  }

  .textosum {
    text-align: center;
  }

  .imgsum img {
    width: 100%;
  }
}

.seccion3 {
  grid-area: s3;
  margin: 10px auto;
}

.footer {
  grid-area: pie;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: $fiftColor;
  text-align: center;

  p {
    color: $forthColor;
  }

  .fp {
    order: 2;
  }

  .iconos {
    order: 1;

    img {
      width: 10vw;
      margin: 5px auto;
    }
  }
}

/*CIERRA INDEX*/

/*INICIO COMPRA*/

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "nav2" "destacados"  "filtros"  "productos"  "registro"  "pie2";
}

.destacados {
  grid-area: destacados;

  img {
    width: 100%;
  }
}

.filtros {
  grid-area: filtros;

  .ff {
    font-size: 1.5rem;
  }
}

.productos {
  grid-area: productos;
  margin: 2px auto;

  .card1, .card2, .card3, .card4, .card5, .card6 {
    width: 80vw;
    height: auto;
    margin: auto;
  }

  p {
    font-size: 1.5;
  }
}

.registro {
  grid-area: registro;
  font-size: 1.5rem;
  margin: 5px;
}

.footer2 {
  grid-area: pie2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: $fiftColor;
  text-align: center;

  p {
    color: $forthColor;
  }

  .fp2 {
    order: 2;
  }

  .iconos2 {
    order: 1;

    img {
      width: 10vw;
      margin: 5px auto;
    }
  }
}

/*FIN COMPRA*/

/*INICIO ARREGLA*/

.grid3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "nav3" "header1"  "form"  "ubicacion"  "opiniones"  "pie3";
}

.header1 {
  grid-area: header1;
  width: 100%;
  margin: 5px auto;

  .texth {
    text-align: center;
  }

  .imgh img {
    width: 100%;
  }
}

.form {
  grid-area: form;
  text-align: center;
  margin: 5px auto;

  form {
    font-size: 1.5rem;

    legend {
      font-size: 1.8rem;
    }
  }
}

.ubicacion {
  grid-area: ubicacion;
  text-align: center;
  margin: 5px auto;
}

.iframe2 {
  width: 60vw;
  margin: 5px auto;

  iframe {
    width: 100%;
  }
}

.opiniones {
  grid-area: opiniones;
  text-align: center;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "h h" "op1i op1t"  "op2i op2t"  "op3i op3t";
}

.h {
  grid-area: h;
}

.op1i {
  grid-area: op1i;
}

.op1t {
  grid-area: op1t;
}

.op2i {
  grid-area: op2i;
}

.op2t {
  grid-area: op2t;
}

.op3i {
  grid-area: op3i;
}

.op3t {
  grid-area: op3t;
}

.footer3 {
  grid-area: pie3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: $fiftColor;
  text-align: center;

  p {
    color: $forthColor;
  }

  .fp3 {
    order: 2;
  }

  .iconos3 {
    order: 1;

    img {
      width: 10vw;
      margin: 5px auto;
    }
  }
}

/*FIN ARREGLA*/

/*INICIA CAMBIA*/

.grid4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "nav4" "funcion"  "form2"  "encom"  "pie4";
}

.funcion {
  grid-area: funcion;
  text-align: center;
  margin-top: 5vh;
}

.form2 {
  grid-area: form2;
  text-align: center;
  margin-top: 5vh;
}

.form4 {
  font-size: 1.5rem;
}

.encom {
  grid-area: encom;
  text-align: center;
  margin-top: 5vh;
}

.imge {
  width: 70vw;
  margin: 5px auto;

  img {
    width: 70vw;
    margin: auto;
  }
}

.footer4 {
  grid-area: pie4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: $fiftColor;
  text-align: center;

  p {
    color: $forthColor;
  }

  .fp4 {
    order: 2;
  }

  .iconos4 {
    order: 1;

    img {
      width: 10vw;
      margin: 5px auto;
    }
  }
}

/*FIN CAMBIA*/

/*INICIO SUMATE*/

.grid5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "nav5" "header3"  "certf"  "posb"  "inscr"  "graduados"  "pie5";
}

.header3 {
  grid-area: header3;
  text-align: center;

  .imghead3 img {
    width: 100%;
    margin: 5px auto;
  }
}

.certificacion {
  grid-area: certf;
  text-align: center;
  width: 80vw;
  margin: 5px auto;
}

.posibilidad {
  grid-area: posb;
  text-align: center;
  width: 80vw;
  margin: 5px auto;
}

.inscribir {
  grid-area: inscr;
  text-align: center;
  width: 80vw;
  margin: 5px auto;
}

.forminsc {
  font-size: 1.5rem;
}

.graduados {
  grid-area: graduados;
  text-align: center;
}

.persona1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas: "imgradu perfil";
}

.persona2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas: "imgradu1 perfil1";
}

.perfil {
  grid-area: perfil;
}

.perfil1 {
  grid-area: perfil1;
}

.graduados {
  .imgradu {
    grid-area: imgradu;
    width: 40vw;
    height: 25vh;
    margin: 5px auto;

    img {
      width: 100%;
      height: 24vh;
      margin: auto;
    }
  }

  .imgradu1 {
    grid-area: imgradu1;
    width: 40vw;
    height: 25vh;
    margin: 5px auto;

    img {
      width: 100%;
      height: 24vh;
      margin: auto;
    }
  }
}

.footer5 {
  grid-area: pie5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  background-color: $fiftColor;
  text-align: center;

  p {
    color: $forthColor;
  }

  .fp5 {
    order: 2;
  }

  .iconos5 {
    order: 1;

    img {
      width: 10vw;
      margin: 5px auto;
    }
  }
}

/*FIN SUMATE*/
/*FIN MOBILE*/

@import "_bpoints";
